	<div class="row" >
		<div class="large-12 columns">
			<h2 >SPECIES+</h2>
		</div>
	</div>
	<div class="row" ng-controller="SpeciesCtrl">
		<div class="section-container auto" data-section>
			<section>
			    <p class="title" data-section-title ng-click='sectionChange()'><a href="#panel1">Animalia</a></p>
			    <div class="content" data-section-content>
			    	<div class="row">
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="select('Mammalia', 'class_name')">Mammalia</div>
			      			<div class="panel" ng-click="select('Actinopterygii', 'class_name')">Actinopterygii</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="select('Aves', 'class_name')">Aves</div>
			      			<div class="panel" ng-click="select('Insecta', 'class_name')">Insecta</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="select('Reptilia', 'class_name')">Reptilia</div>
			      			<div class="panel" ng-click="select('Hirudinoidea', 'class_name')">Hirudinoidea</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="select('Amphibia', 'class_name')">Amphibia</div>
			      			<div class="panel" ng-click="select('Gastropoda', 'class_name')">Gastropoda</div>
			      		</div>
			      	</div>

			    </div>
			</section>

			<section>
			    <p class="title" data-section-title ng-click='sectionChange()'><a href="#panel2">Plantae</a></p>
			    <div class="content" data-section-content>
			     	<div class="row">
			      		<div class="large-4 columns">
			      			<div class="panel" ng-click="select('Amarylidaceae', 'family_name')">Amarylidaceae</div>
			      			<div class="panel" ng-click="select('Lycopodiaceae', 'family_name')">Lycopodiaceae</div>
			      			<div class="panel" ng-click="select('Primulaceae', 'family_name')">Primulaceae</div>
			      		</div>
			      		<div class="large-4 columns">
			      			<div class="panel" ng-click="select('Compositae', 'family_name')">Compositae</div>
			      			<div class="panel" ng-click="select('Menyanthaceae', 'family_name')">Menyanthaceae</div>
			      			<div class="panel" ng-click="select('Ranunculaceae', 'family_name')">Ranunculaceae</div>
			      		</div>
			      		<div class="large-4 columns">
			      			<div class="panel" ng-click="select('Euphorbiaceae', 'family_name')">Euphorbiaceae</div>
			      			<div class="panel" ng-click="select('Orchidaceae', 'family_name')">Orchidaceae</div>
			      			<div class="panel" ng-click="select('Taxaceae', 'family_name')">Taxaceae</div>
			      		</div>
			      	</div>

			      </div>
			</section>

			<section>
			    <p class="title" data-section-title><a href="#panel2">Animalia + Plantae</a></p>
			    <div class="content" data-section-content>
			      	<div class="row">
			      		<div class="large-6 columns">
			      			<div class="panel">Animalia</div>
			      		</div>
			      		<div class="large-6 columns">
			      			<div class="panel">Plantae</div>
			      		</div>
			      	</div>

					<div class="chosen_content">
						<div class= "row"> There are <span class="chosen_count"></span><span class="chosen_group"></span>endangered species in Poland
						</div>
					</div>
				</div>
			</section>
			<section>
				<p class="title" data-section-title><a href="#panel2">Tax Tree</a></p>
			    <div class="content" data-section-content>
				    <div id="chart2"></div>
				        <%= javascript_include_tag "d3.v3.min" %>
    						<%= javascript_include_tag "tree" %>
			</div>
			</section>

		</div>


	<div class="row">
   		<div class="large-12 column">
   			<label>CITES appendix</label>
			<div class="switch_species switch_species-four candy yellow">
				<input id="week61" name="view6" type="radio">
				<label for="week61" onclick="" ng-click="citesRestrict('I')">I</label>
				<input id="month62" name="view6" type="radio">
				<label for="month62" onclick="" ng-click="citesRestrict('II')">II</label>

				<input id="year63" name="view6" type="radio">
				<label for="year63" onclick="" ng-click="citesRestrict('III')">III</label>

				<input id="decade63" name="view6" type="radio" checked>
				<label for="decade63" onclick="" ng-click="citesRestrict('nc')">nc</label>

				<span class="slide-button"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 column">
				<ul class="species_list">
					<li ng-repeat="elem in final_chosen"><a href="/species/creature/{{elem.full_name}}">{{elem.full_name}}</a> {{elem.class}} <em>{{elem.english_names[0]}}</em></li>
			</ul>
		</div>
	</div>
</div>