	<div class="row" >
		<div class="large-12 columns">
			<h2 >SPECIES+</h2>
		</div>
	</div>
	<div class="row" ng-controller="SpeciesCtrl">
		<div class="section-container auto" data-section>
			<section>
			    <p class="title" data-section-title><a href="#panel1">Animalia</a></p>
			    <div class="content" data-section-content>
			    	<div class="row">
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="selectClass('Mammalia')">Mammalia</div>
			      			<div class="panel" ng-click="selectClass('Actinopterygii')">Actinopterygii</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="selectClass('Aves')">Aves</div>
			      			<div class="panel" ng-click="selectClass('Insecta')">Insecta</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="selectClass('Reptilia')">Reptilia</div>
			      			<div class="panel" ng-click="selectClass('Hirudinoidea')">Hirudinoidea</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel" ng-click="selectClass('Amphibia')">Amphibia</div>
			      			<div class="panel" ng-click="selectClass('Gastropoda')">Gastropoda</div>
			      		</div>
			      	</div>

			    </div>
			</section>

			<section>
			    <p class="title" data-section-title><a href="#panel2">Plantae</a></p>
			    <div class="content" data-section-content>
			     	<div class="row">
			      		<div class="large-4 columns">
			      			<div class="panel" ng-click="selectOrder()">Amarylidaceae</div>
			      			<div class="panel" ng-click="selectOrder()">Lycopodiaceae</div>
			      			<div class="panel" ng-click="selectOrder()">Primulaceae</div>
			      		</div>
			      		<div class="large-4 columns">
			      			<div class="panel" ng-click="selectOrder()">Compositae</div>
			      			<div class="panel" ng-click="selectOrder()">Menyanthaceae</div>
			      			<div class="panel" ng-click="selectOrder()">Ranunculaceae</div>
			      		</div>
			      		<div class="large-4 columns">
			      			<div class="panel" ng-click="selectOrder()">Euphorbiaceae</div>
			      			<div class="panel" ng-click="selectOrder()">Orchidaceae</div>
			      			<div class="panel" ng-click="selectOrder()">Taxaceae</div>
			      		</div>
			      	</div>

			      </div>
			</section>

			<section>
			    <p class="title" data-section-title><a href="#panel2">Animalia + Plantae</a></p>
			    <div class="content" data-section-content>
			      	<div class="row">
			      		<div class="large-6 columns">
			      			<div class="panel">Animalia</div>
			      		</div>
			      		<div class="large-6 columns">
			      			<div class="panel">Plantae</div>
			      		</div>
			      	</div>

					<div class="chosen_content">
						<div class= "row"> There are <span class="chosen_count"></span><span class="chosen_group"></span>endangered species in Poland
						</div>
					</div>
				</div>
			</section>
			<section>
				<p class="title" data-section-title><a href="#panel2">Tax Tree</a></p>
			    <div class="content" data-section-content>
				    <div id="chart2"></div>
				        <%= javascript_include_tag "d3.v3.min" %>
    						<%= javascript_include_tag "tree" %>
			</div>
			</section>

		</div>


	<div class="row">
   		<div class="large-12 column">
   			<label>CITES appendix</label>
			<div class="switch_species switch_species-four candy yellow">
				<input id="week61" name="view6" type="radio" checked>
				<label for="week61" onclick="">I</label>
				<input id="month62" name="view6" type="radio">
				<label for="month62" onclick="">II</label>

				<input id="year63" name="view6" type="radio">
				<label for="year63" onclick="">III</label>

				<input id="decade63" name="view6" type="radio">
				<label for="decade63" onclick="">nc</label>

				<span class="slide-button"></span>
			</div>
		</div>
	</div>

	<div>Gatuneczki:
		<ul>
			<li ng-repeat="elem in species_chosen">{{elem}}</li>
		</ul>
	</div>
</div>