<div class="row">
  <div class="large-12 columns">
    <h2 class="label" id="creature"><%= link_to '+', root_path %>Ailuropoda melanoleuca</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <img src="http://lolfunnymeme.com/wp-content/uploads/sadpanda.jpg"><br />
    <p>
      This panda is sad, because we couldn't find a species you've been searching for. <br />
      If you want, you can waste some time <a href="http://www.sandiegozoo.org/pandacam/index.html">watching Panda form San Diego's Zoo live.</a>
    </p>
  </div>
</div>