  <div class="row">
      <div class="large-12 columns">
        <h2>SPECIES+</h2>
      </div>
  </div>


  <div class="row">
    <div class="large-3">
      <span class="label">Name: <%= @creature["full_name"] %></span>
    </div>
  </div>

  <div class="row">

    <!-- ROW table + pictures + chart -->
    <div class="row">
      <div class="large-7 columns">
        <div class="large-6 columns">
          <ul class="animal_descr left">
            <li>Class:</li>
            <li>Order:</li>
            <li>Family:</li>
            <li>Genus:</li>
            <li>Species:</li>
            <li>Fullname:</li>
            <li>Author &amp; Year:</li>
            <li>CITES appendix</li>
            <li>English names:</li>
          </br>
            <li>Polish names:</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <ul class="animal_descr">
            <% @creature.each do |key, value| %>
            <li><%= value %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="large-5 columns">
        <div class="row">
          <div class="large-12 columns animal_imgs">
            <div class="row">
              <div class="large-6 columns img_thumb">
                  <!-- <img src="img/aegypius1.jpg"> -->
                </div>

              <div class="large-6 columns img_thumb">
                  <!-- <img src="img/aegypius1.jpg"> -->
                </div>
            </div>
            <div class="row">
              <div class="large-6 columns img_thumb">
                  <!-- <img src="img/aegypius1.jpg"> -->
                </div>

              <div class="large-6 columns img_thumb">
                  <!-- <img src="img/aegypius1.jpg"> -->
                </div>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="large-12 columns">
              <fieldset><legend>Population in years</legend>
                <canvas id="chart_population" width="400" height="250"></canvas>
              </fieldset>
            </div>
          </div>
      </div>
    </div>
  </div>


    </div>

    <div class="large-6 columns">

    </div>
  </div>

