.classes{
	display: inline;
}

h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 60px;
	font-weight: 300;
}

body{
	font-family: 'Armata', sans-serif;
}

.label{
	font-size: 2em;
	color: inherit;
	background-color: inherit;
}

.panel{
	font-size: 12px;
}

.creature_descr{
	font-size: 17px;
	border: none;
}

.level{
	font-weight: bold;
}

.animal_imgs{
	text-align: center;
	margin: 20px auto 15px 20px;
}

fieldset{
  border:1px solid "rgba(0,0,0,.05)";

}

.chosen_content{
	margin-top: 50px;
	margin-left: 10px;
}


.authors1{
	margin-left: 30px;
}
.authors1 div{
	padding: 8px;
}
.authors1 div a{
	padding-left: 20px;
}

.authors2_name ul{
	list-style-type: none;
	margin-left: 30px;
	color: #2795b6;
}