.classes{
	display: inline;
}

h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 60px;
	font-weight: 300;
}

body{
	font-family: 'Armata', sans-serif;
}

.label{
	font-size: 2em;
	color: inherit;
	background-color: inherit;
}

.panel{
	font-size: 12px;
}

.creature_descr{
	font-size: 17px;
	border: none;
}

.level{
	font-weight: bold;
}

.animal_imgs{
	text-align: center;
	margin: 20px auto 15px 20px;
}

fieldset{
  border: 1px solid rgba(0,0,0,.05);

}

.chosen_content{
	margin-top: 50px;
	margin-left: 10px;
}

.notice{
	margin-top: 30px;
	margin-left: 30px;
}


.species_list {
	margin-top: 15px;
	margin-left: 15px;
}
.species_list, li {
	list-style-type: none;
	margin-bottom: 10px;
}

footer{
	margin-top: 150px;
	border-top: 1px #DCEEFC solid;
	font-size: 12px;
}

.icons_list li{
	display: inline;
}

.icons {
	width:40px;
	height: auto;
}
.pointer {
	cursor: pointer;
}